/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'TrashHand';
    src: url('TrashHand.eot');
    src: url('TrashHand.eot?iefix') format('eot'), url('TrashHand.woff') format('woff'), url('TrashHand.ttf') format('truetype'), url('TrashHand.svg#webfont') format('svg');
    font-family: 'PermanentMarker';
    src: url('PermanentMarker.ttf') format('truetype');
}

body {
    font-size: 20px;
}

h1 {
    font-size: 3em;
    margin-left: 30px;
    line-height: 60px;
    font-family: "TrashHand";
}

.page3 h1 {
    color: white;
}

.logo {
    background: url("MPMLogo80px.png") no-repeat center;
    height: 100px;
    width: 150px;
    display: inline-block;
    float: left;
}

nav {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #3f3f3f;
    text-align: right;
    top: 0px;
    left: 0px;
    border-bottom: 3px white solid;
}

.title {
    display: inline-block;
    float: left;
}

.title h1 {
    vertical-align: center;
    line-height: 100px;
    padding: none;
    color: white;
}

nav a {
    display: inline-block;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: 'TrashHand';
    vertical-align: top;
}

nav a:nth-of-type(n+1):hover {
    background-color: #f38630;
    color: #3f3f3f;
}

.home {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    top: 0px;
    left: 0px;
    background-image: url(LaptopMPMOrange.png);
    background-repeat: no-repeat;
}

.home p {
    font-family: 'PermanentMarker';
    font-size: 5em;
    color: white;
    padding: 40px 0px 0px 40px;
    display: inline-block;
}

.page1 h1 {
    padding: 110px 30px 10px 30px;
}

.page2 h1 {
    padding: 110px 30px 10px 30px;
    display: inline-block;
}

.page3 h1 {
    padding: 110px 30px 10px 30px;
}
/*Begin Services Page*/

.page1 {
    width: 100%;
    height: 600px;
    background-color: #27c6b6;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
/*Holds three services divs*/

.servWrapper div {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 0px 40px;
}
/*Text under each service*/
/*
.webText {
    color: #27c6b6;
    font-family: "lato", sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1em;
}

.socialText {
    color: #27c6b6;
    font-family: "lato", sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1em;
}

.contentText {
    color: #27c6b6;
    font-family: "lato", sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1em;
} */
/*Hover on service to show text below icon*/
/*
.webDesign:hover ~.webText {
    width: 300px;
    height: 200px;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 400;
    margin: 0px 40px;
}

.socialMedia:hover ~.socialText {
    width: 300px;
    height: 200px;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 400;
    margin: 0px 40px;
}

.content:hover ~.contentText {
    width: 300px;
    height: 200px;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 400;
    margin: 0px 40px;
}*/
/*Divs for three services,
starting background*/

.webDesign {
    background-image: url(MPM%20Web%20Design%20Icon.png);
}

.socialMedia {
    background-image: url(MPM%20Social%20Media%20Icon.png);
}

.content {
    background-image: url(MPM%20Content%20Icon.png);
}
/*Hover on service to change background and show title*/

.webDesign:hover {
    background-color: #f38630;
    height: 290px;
    weight: 290px;
    border-radius: 300px;
    border: 10px solid #3f3f3f;
    background-image: none;
    display: inline-block;
}

.socialMedia:hover {
    background-color: #f38630;
    height: 290px;
    weight: 290px;
    border-radius: 300px;
    border: 10px solid #3f3f3f;
    background-image: none;
    display: inline-block;
}

.content:hover {
    background-color: #f38630;
    height: 290px;
    weight: 290px;
    border-radius: 300px;
    border: 10px solid #3f3f3f;
    background-image: none;
    display: inline-block;
}
/*Title of service hidden until hovered on*/

.servWrapper p {
    visibility: hidden;
    height: 300px;
    width: 300px;
    color: white;
    font-size: 2em;
    font-family: 'TrashHand';
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 90px 0px;
}
/*When service is hovered on,
title appears*/

.servWrapper div:hover >p {
    height: 300px;
    width: 300px;
    visibility: visible;
    color: white;
    font-size: 2em;
    font-family: 'TrashHand';
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 90px 0px;
}
/*Begin Portfolio Page*/

.page2 {
    width: 100%;
    height: 1000px;
    background-color: white;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.page3 {
    width: 100%;
    height: 900px;
    background-color: #3f3f3f;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.page2 h2 {
    font-family: 'TrashHand';
    font-size: 2em;
    display: inline-block;
}

.portWrapper1 div {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    border: 10px solid #3f3f3f;
    margin: 30px 50px;
    text-align: center;
}

.portWrapper1 div:first-of-type {
    background-image: url(NAP%20Circle.png);
}

.portWrapper1 div:nth-of-type(2) {
    background-image: url(GSC%20Circle.png);
}

.portWrapper1 div:nth-of-type(3) {
    background-image: url(Star%20Circle.png);
}

.portWrapper1 p {
    font-family: 'TrashHand';
    display: inline-block;
    margin: 100px 50px;
    visibility: hidden;
    font-size: 2em;
}

.portWrapper1 div:hover {
    background-image: none;
    background-color: #f38630;
    Border: 10px solid #27c6b6;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    border: 10px solid #27c6b6;
    margin: 30px 50px;
    text-align: center;
    cursor: pointer;
}

.portWrapper1 div:hover >p {
    visibility: visible;
    color: white;
    font-size: 2em;
    font-family: 'TrashHand';
    cursor: pointer;
    display: inline-block;
    margin: 100px 50px;
}

.portWrapper2 div {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    border: 10px solid #3f3f3f;
    margin: 30px 50px;
    text-align: center;
}

.portWrapper2 div:first-of-type {
    background-image: url(GI%20Circle.png);
}

.portWrapper2 div:nth-of-type(2) {
    background-image: url(VM%20Circle.png);
}

.portWrapper2 div:nth-of-type(3) {
    background-image: url(Yoga%20Circle.png);
}

.portWrapper2 p {
    font-family: 'TrashHand';
    display: inline-block;
    margin: 100px 50px;
    visibility: hidden;
    font-size: 2em;
}

.portWrapper2 div:hover {
    background-image: none;
    background-color: #f38630;
    Border: 10px solid #27c6b6;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 175px;
    border: 10px solid #27c6b6;
    margin: 30px 50px;
    text-align: center;
    cursor: pointer;
}

.portWrapper2 div:hover >p {
    visibility: visible;
    color: white;
    font-size: 2em;
    font-family: 'TrashHand';
    cursor: pointer;
    display: inline-block;
    margin: 100px 50px;
}
/*
.page2 h2 {
    font-family: 'TrashHand';
    font-size: 2em;
    text-overflow: inherit;
    width: 200px;
    margin: -100px 0px 0px 50px
}

.upperlip {
    width: 70%;
    float: right;
    height: 300px;
    background-color: #f38630;
    border-radius: 400px 0px 0px 0px;
    margin-top: -20px;
    display: inline-block;
}

.lowerlip {
    width: 90%;
    height: 300px;
    float: right;
    background-color: #f38630;
    border-radius: 0px 0px 0px 400px;
}

.upperteeth {
    height: 202px;
    width: 800px;
    display: inline-block;
    margin-left: 375px;
}

.lowerteeth {
    height: 202px;
    width: 1115px;
    margin-left: 160px;
    margin-top: -150px;
}

.greensquare {
    height: 202px;
    width: 202px;
    background-image: url(GSC%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.nap {
    height: 202px;
    width: 202px;
    background-image: url(NAP%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.stardeli {
    height: 202px;
    width: 202px;
    background-image: url(Star%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.greystones {
    height: 202px;
    width: 202px;
    background-image: url(GI%20Tooth.png);
    margin: 0px 30px 0px 75px;
    display: inline-block;
}

.voodoo {
    height: 202px;
    width: 202px;
    background-image: url(VM%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.yoga {
    height: 202px;
    width: 202px;
    background-image: url(Yoga%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.behance {
    height: 202px;
    width: 202px;
    background-image: url(Behance%20Tooth.png);
    margin: 0px 30px 0px 30px;
    display: inline-block;
}
*/
/*alternate portfolio fish

.fishbody {
    width: 600px;
    height: 300px;
    background-color: #f38630;
    border-radius: 300px 300px 0px 0px;
    margin-left: 670px;
    display: inline-block;
}

.fishjaw {
    width: 1250px;
    height: 450px;
    background-color: #f38630;
    border-radius: 0px 0px 450px 450px;
    margin-left: 20px;
    display: inline-block;
}

.eye {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 20px solid #27c6b6;
    border-radius: 175px;
    margin-left: 550px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
*/
/* Responsive CSS */

@media all and (max-width: 1250px) and (min-width: 300px) {
    nav {
        width: 100%;
    }
    @media all and (max-width: 500px) and (min-width: 300px) {
        h1 {
            display: none;
        }
        .logo {
            background-image: url(MPMLogo45px.png);
            height: 50px;
            width: 50px;
        }
        nav a {
            padding: 0px 2px;
            font-size: 15px;
            height: 50px;
            width: 50px;
            line-height: 50px;
        }
        nav {
            height: 50px;
            width: 100%;
        }
        .page1,
        .page2,
        .page3 {
            width: 100%;
        }